.location-style {
  .modal-body {
    padding-bottom: 0;
  }

  label {
    position: relative;
    &::after {
      content: " *";
      position: absolute;
      color: red;
      padding-left: 5px;
    }
  }

}