.wapper-family {
   h4 {
     margin-bottom: 0;
     text-transform: uppercase;
   }

  tbody {
    .style-td {
      line-height: 2.3;
    }
  }

  thead {
    background: #299cdb;
    color: #fff;
  }
}

.nav {
  // justify-content: space-between;
}