.title_custom_status {
    height: 20px;
    display: flex;
    align-items: center;
    font-size: 20px;
    color:#261d1d
}
.title_custom_status_icon {
    font-size: 15px;
    margin-right: 1.5rem;
}

.html_parse img {
    max-width: 100%;
}
.w_35 {
    width: 35%;
}
.icon_custom {
    font-size: 25px;
}